<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Human.Name" value="Tonny" />
    <add key="Human.Lastname" value="stark" />
    <add key="Human.Power" value="smartest" />
    <add key="Hero.Name" value="Iron man" />
    <add key="Hero.Power:body" value="iron body" />
    <add key="Hero.Power:hands" value="laser" />
    <add key="Hero.Power:legs" value="repulsor blast" />
    <add key="Team-1" value="Avengers" />
    <add key="Team-2" value="Iron squad" />
    <add key="Movies" value="Iron Man 1, Iron Man 2, Iron Man 3" />
  </appSettings>
</configuration>
